---
import type { MarkdownHeading } from "astro";
import Profile from "./Profile.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full lg:w-auto"]}>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full max-w-[22rem] mx-auto lg:max-w-none lg:mx-0 gap-4 lg:sticky lg:top-20 lg:max-h-[calc(100vh_-_6rem)] lg:overflow-y-auto">
        <Profile></Profile>
    </div>
</div>
